@import 'styles/base';

.app {
    background-image: radial-gradient(circle at top left, #4e72c7 0%, #6d9ed7 34%, #a4c8d5 67%, #b4d9e1 84%, #c4d9d6 100%);
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 1;

    &:before,
    &:after {
        bottom: 0;
        content: '';
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -100;
        transition: opacity 10s;
    }

    &:before {
        // Night
        background-image: radial-gradient(circle at bottom right, #3a3a52, rgba(#020111, .8)), url(/svg/sky.svg), radial-gradient(circle at bottom right, #3a3a52, #020111);
    }

    &:after {
        // Twlight
        background-image: radial-gradient(circle at top left, rgba(#20202f, .8) 0%, rgba(#273550, .8) 16%, #416081 41%, #adacb2 78%, #eac3a2 100%), url(/svg/sky.svg), radial-gradient(circle at top left, #20202f 0%, #273550 16%, #416081 41%, #adacb2 78%, #eac3a2 100%);
    }

    &--night:before {
        opacity: 1;
    }

    &--twilight:after {
        opacity: 1;
    }

    &__header {
        color: $colour-white;
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: $gutter;
        position: relative;
        text-align: center;
    }

    &__modules {
        display: flex;
        flex-wrap: wrap;
        padding: $gutter * .25;
    }

    &__nav {
        align-items: center;
        display: none;
        justify-content: space-between;
        margin-bottom: .5rem;
    }

    &__location {
        flex: 1;
        font-size: 1rem;
        font-weight: 600;
        order: 2;
    }

    &__settings,
    &__toggle-mode {
        background: none;
        border: 0;
        display: block;
        height: 1.2rem;
        margin: 0;
        overflow: hidden;
        padding: 0;
        width: 1.2rem;

        svg {
            width: 1.2rem;
            height: 1.2rem;
        }

        path {
            fill: $colour-white;
        }
    }

    &__settings {
        order: 1;
    }

    &__toggle-mode {
        order: 3;
    }

    &__summary {
        align-items: center;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
    }

    &__time {
        font-size: 5.25rem;
        font-weight: 600;
    }

    &__date {
        color: rgba($colour-white, .7);
        font-size: 2.25rem;
    }

    &__screen {
        background-color: rgba($colour-charcoal, .3);
        backface-visibility: hidden;
        left: 0;
        height: 100vh;
        position: absolute;
        top: 0;
        transform: translateX(100vw);
        transition: transform .5s;
        width: 100vw;
    }

    &__screen--display {
        transform: translateX(0);
    }

    &--standalone &__header {
        padding-top: calc(20px + .5rem);
    }
}
