@import 'styles/base';
@import 'styles/animation/spin';

$spinner-diameter: 5rem;

.loading {
    align-items: center;
    display: flex;
    flex: 1;
    height: 100vh;
    justify-content: center;
    text-align: center;

    &__message {
        padding-top: $spinner-diameter + .75rem;
        position: relative;

        &:before,
        &:after {
            animation: spin 1s linear infinite;
            border: .2rem solid;
            border-radius: 100%;
            box-sizing: border-box;
            color: $colour-green;
            content: '';
            display: block;
            height: $spinner-diameter;
            left: 0;
            margin: 0 auto 1.3rem;
            position: absolute;
            top: 0;
            width: $spinner-diameter;
        }

        &:before {
            border-top-color: transparent;
            opacity: .2;
        }

        &:after {
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
        }

        color: $colour-black;
        font-size: 1.2rem;
    }
}
