@import 'styles/base';

.module {
    color: $colour-white;
    display: flex;
    flex: 1;
    margin: $gutter * .25;
    user-select: none;

    &__link {
        background: linear-gradient(135deg, rgba($colour-white, .15), rgba($colour-white, .2));
        border-radius: $gutter * .25;
        display: block;
        padding: $gutter;
        transition: transform .1s, opacity .1s;
        width: 100%;

        &:active {
            opacity: .5;
            transform: scale(.9);
        }
    }

    &__title {
        border-bottom: 1px solid rgba($colour-black, .05);
        font-size: .85rem;
        font-weight: 600;
        margin: ($gutter * -.5) (-$gutter) ($gutter * .75);
        padding-bottom: $gutter * .5;
        text-align: center;
        text-transform: uppercase;
    }

    &__primary {
        font-size: 3rem;
        line-height: 1;
    }

    &__secondary {
        margin-top: .35rem;
    }

    &__unit {
        color: rgba($colour-white, .8);
        font-size: .85rem;
        text-transform: uppercase;
    }

    &__inner {
        display: flex;
        align-items: flex-start;
    }

    &__content {
        flex: 1;
    }

    &__icon {
        height: 2.5rem;
        margin-top: .25rem;
        margin-right: $gutter;
        width: 2.5rem;

        svg {
            fill: rgba($colour-white, .8);
        }
    }
}
