@import 'styles/base';

.switch {
    background-color: $colour-dim-grey;
    border: 0;
    border-radius: 3px;
    line-height: 1;
    margin: 0;
    padding: 0;

    &__container {
        box-sizing: content-box;
        display: block;
        // height: 1.85rem;
        padding: 3px;
        position: relative;
        width: 4rem;

        &:before,
        &:after {
            content: '';
            display: block;
            height: .5rem;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        // On
        &:before {
            background-color: $colour-grey;
            left: 25%;
            height: .7rem;
            width: 2px;
        }

        // Off
        &:after {
            border: 2px solid $colour-grey;
            border-radius: 100%;
            left: 75%;
            width: .5rem;
        }
    }

    &__state {
        display: block;
        background-color: lighten($colour-middle-grey, 10%);
        border-radius: 2px;
        height: 2rem;
        overflow: hidden;
        position: relative;
        text-indent: 30rem;
        transition: transform .3s, background-color .3s;
        width: 50%;
        z-index: 1;
    }

    &--on &__state {
        background-color: $colour-green;
        transform: translateX(100%);
    }

    &[disabled] {
        opacity: .5;

        &__state {
            background-color: $colour-grey;
        }
    }
}
