$colour-white: #fff;
$colour-black: #000;
$colour-very-dim-grey: #f9f9f9;
$colour-dim-grey: #eee;
$colour-grey: #ccc;
$colour-middle-grey: #999;
$colour-green: #1abc9c;
$colour-blue: #3498db;
$colour-night: #2c3e50;
$colour-charcoal: #222;
$colour-mid-grey: #555;
$colour-red: #c0392b;
$colour-orange: #d35400;
